{{ "<!-- service -->" | safeHTML }}
<div class="section">
  <div class="container">
    <div class="section-title-border border-left"></div>
    <h2 class="section-title">Features</h2>
    <div class="divider"></div>
    <div class="row py-3 mb-5 mt-10">
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fas fa-store-alt fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              Marketplace
            </h5>
            <p class="card-text text-muted">
              Unified marketplace for the entire supply chain, permissioned catalogs, volume pricing, and discounts
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fas fa-shipping-fast fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              Shipping and 3PL
            </h5>
            <p class="card-text text-muted">
              Manage inventory, shipping, tracking, and returns powered by <a href="https://www.shipengine.com/" target="_blank">ShipEngine</a> & <a href="https://www.shipbob.com/" target="_blank">ShipBob</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fas fa-shopping-cart fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              Checkout
            </h5>
            <p class="card-text text-muted">
              1-click checkout and abandoned cart recovery
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fas fa-calendar fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              Revenue, Metrics, and Forecasting
            </h5>
            <p class="card-text text-muted">
              Create recurring product subscriptions, view metrics powered by <a href="https://www.profitwell.com/" target="_blank">ProfitWell</a>, and get forecasting 
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fas fa-search fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              Product Discovery
            </h5>
            <p class="card-text text-muted">
              Search powered by <a href="https://www.meilisearch.com/" target="_blank">Meilisearch</a>, share wishlists, and get product recommendations
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fas fa-shopping-basket fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              Cross-sell and Upsell
            </h5>
            <p class="card-text text-muted">
              Increase sales at checkout by personalized recommendations
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fas fa-calculator fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              Sales Taxes
            </h5>
            <p class="card-text text-muted">
              Get sales tax calculations powered by <a href="https://www.taxjar.com/" target="_blank">TaxJar</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fas fa-hand-holding-usd fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              US Business Loans
            </h5>
            <p class="card-text text-muted">
              Provided by <a href="https://stripe.com/capital" target="_blank">Stripe Capital</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fas fa-bullhorn fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              Shopper Feedback
            </h5>
            <p class="card-text text-muted">
              Create Ratings, Reviews, and Questions
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fab fa-stripe fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              Stripe Platform
            </h5>
            <p class="card-text text-muted">
              Use your own Stripe account with apps powered by <a href="https://stripe.com/en-ca/connect" target="_blank">Stripe Connect</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fas fa-tachometer-alt fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              Blazing Fast
            </h5>
            <p class="card-text text-muted">
              Programmed in <a href="https://www.rust-lang.org/" target="_blank">Rust</a> (server and client), using real-time Websockets, and hosted on <a href="https://www.vultr.com/products/high-frequency-compute/" target="_blank">Vultr Hi-Freq Compute</a> using <a href="https://rocksdb.org/" target="_blank">RocksDB</a> on <a href="https://www.vultr.com/news/Introducing-Block-Storage-v2/" target="_blank">NVMe Block Storage</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card flex-row border-0">
          <div class="mt-3" style="min-width: 45px;">
            <span class="fas fa-lock fa-2x text-primary"></span>
          </div>
          <div class="card-body pl-3">
            <h5 class="card-title">
              Secure
            </h5>
            <p class="card-text text-muted">
              PCI compliant, firewalled (only SSH key and HTTPS open), and E2E encrypted
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  {{ "<!-- /service -->" | safeHTML }}