{{ "<!-- service -->" | safeHTML }}
<div class="section">
  <div class="container">
    <div class="section-title-border border-left"></div>
    <h2 class="section-title">Supported Nations</h2>
    <div class="divider"></div>
      <div class="divider"></div>
      <div class="row" style="margin-top: 35px;">
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/united-states-of-america.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">USA</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/canada.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Canada</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/united-kingdom.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">UK</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/australia.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Australia</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/germany.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Germany</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/italy.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Italy</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/france.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">France</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/ireland.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Ireland</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/spain.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Spain</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/austria.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Austria</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/denmark.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Denmark</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/finland.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Finland</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/belgium.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Belgium</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/estonia.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Estonia</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/greece.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Greece</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/netherlands.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Netherlands</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/bulgaria.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Bulgaria</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/sweden.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Sweden</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/hungary.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Hungary</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/republic-of-poland.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Poland</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/cyprus.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Cyprus</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/czech-republic.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Czech</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/latvia.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Latvia</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/lithuania.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Lithuania</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/luxembourg.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Luxembourg</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/malta.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Malta</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/romania.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Romania</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/slovakia.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Slovakia</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/slovenia.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Slovenia</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3" style="padding: 0;">
          <div class="card flex-row border-2">
            <div class="card-body pl-3">
              <p class="card-text text-muted text-center" style="font-weight: bold;">
                <img src="/images/flags/portugal.svg" alt="flag" width="35px" /><span style="padding-left: 15px;">Portugal</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  {{ "<!-- /service -->" | safeHTML }}