{{ define "main" }}

  {{ "<!-- privacy -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-12">
          <h4 class="mb-4">CanadaDev - Coast Capital Business Banking Package Application</h4>
          <form name="business-banking" method="POST" data-netlify="true">
            <div class="form-group">
              <p>
                <label>Full Name: <input type="text" class="form-control" id="name" required /></label>
              </p>
              <p>
                <label>Your Email: <input type="email" class="form-control" name="email" required /></label>
              </p>
              <p>
                <label>Your Phone Number: <input type="tel" class="form-control" placeholder="" name="telephone" required /></label>
              </p>
              <p>
                <label>Your Business Name: <input type="text" class="form-control" name="businessname" required /></label>
              </p>
              <p>
                <label>Your Business Address: <input type="text" class="form-control" name="businessaddress" required /></label>
              </p>
              <p>
                <label>Your Business Industry: <input type="text" class="form-control" name="businessindustry" required /></label>
              </p>
              <p>
                <input type="text" class="form-control" value="Business Package" name="package" hidden />
              <p>
                <input type="text" class="form-control" value="CanadaDev" name="partnername" hidden />
              </p>
            </div>
            <p>
              <button class="btn btn-primary" type="submit">Submit</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /privacy -->" | safeHTML }}

{{ end }}