{{ define "main" }}

  {{ "<!-- privacy -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-12">
          <h4 class="mb-4">Sponsor CanadaDev</h4>
          <form name="sponsorship" method="POST" data-netlify="true">
            <div class="form-group">
              <p>
              <label>Your name: <input type="text" class="form-control" id="yourname" placeholder="enter your name" required /></label>
              </p>
              <p>
                <label>Your name: <input type="text" class="form-control" id="company_name" placeholder="company name" required /></label>
              </p>
              <p>
              <label>Your Email: <input type="email" class="form-control" name="email" required /></label>
              </p>
              <p>
                <label>Your LinkedIn URL: <input type="text" class="form-control" name="LinkedIn" required /></label>
              </p>
            </div>
            <p>
              <button class="btn btn-primary" type="submit">Submit</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /privacy -->" | safeHTML }}

{{ end }}