{{ define "main" }}

  {{ "<!-- privacy -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-12">
          <h3 class="mb-4">CanadaDev Launch Survey</h3>
          <p>CanadaDev has been working to arrange benefit partnerships with multiple providers to enable the creation of the professional association for Canadian software engineers.</p>
          <p>This is the launch survey to poll our meetup members to see what services they will use in order to inform these partners and launch the association.</p>
          <form name="survey" method="POST" data-netlify="true" action="/thanks" >
            <div class="form-group">
              <p>
                <h4>Info</h4>
              </p>
              <p>
              <label for="name">Your name (required): <input type="text" id="name" placeholder="enter your name" name="name" required /></label>
              </p>
              <p>
              <label for="email">Your Email (required): <input type="email" id="email" name="email" placeholder="me@canadadev.com" required /></label>
              </p>
                <label for="city">Your nearerst city (required): <select id="city" name="city" required>
                    <option value="vandev">Vancouver</option>
                    <option value="mondev">Montreal</option>
                    <option value="tordev">Toronto</option>
                    <option value="ottawadev">Ottawa</option>
                    <option value="caldev">Calgary</option>
                    <option value="waterdev">Waterloo</option>
                    <option value="haldev">Halifax</option>
                    <option value="victoriadev">Victoria</option>
                    <option value="windev">Winnpeg</option>
                    <option value="edmdev">Edmonton</option>
                    <option value="saskdev">Saskatoon</option>
                    <option value="freddev">Fredericton</option>
                    <option value="chardev">Charlottetown</option>
                    <option value="stjdev">St. John's</option>
                  </select></label>
              </p>
              <p>
                <label for="years">Years as a Software Engineer (required): <select id="years" name="years" required>
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10+</option>
                </select></label>
              </p>
              <p>
                <label for="employment">Type of Employment (required): <select type="text" id="employment" name="employment" required />
                  <option>Startup Employee</option>
                  <option>Startup Founder</option>
                  <option>Freelancer</option>
                  <option>Midsize Company Employee</option>
                  <option>Large Company Employee</option>
                  <option>Student</option>
                  <option>Job Searching</option>
                </select>
                </label>
              </p>
              <p>
                <label for="linkedin">Your LinkedIn URL (optional): <input type="text" id="linkedin" name="LinkedIn" placeholder="https://linkedin.com/in/bevanhunt" /></label>
              </p>
              <p>
                <h4><a href="/meetup">Meetup</a></h4>
              </p>
              <p>
                <label for="meetup_local">I will attend a local CanadaDev meetup <input id="meetup_attend" type="checkbox" name="meetup_local" /></label>
              </p>
              <p>
                <label for="meetup_remote">I will attend a remote CanadaDev meetup <input id="meetup_attend" type="checkbox" name="meetup_remote" /></label>
              </p>
              <p>
                <label for="meetup_speaker">I would like to speak at a CanadaDev meetup</a> <input id="meetup_speaker" type="checkbox" name="meetup_speaker" /></label>
              </p>
              <p>
                <label for="meetup_leader">I would like to be a local CanadaDev meetup chapter leader <input id="meetup_leader" type="checkbox" name="meetup_leader" /></label>
              </p>
              <p>
                <h4><a href="/benefits/coaching">Coaching</a></h4>
              </p>
              <p>
                <label for="coaching_get">I will get coaching (in programming, business, or etc.) <input id="coaching_get" type="checkbox" name="coaching_get" /></label>
              </p>
              <p>
                <label for="coaching_give">I would like to be a coach <input id="coaching_give" type="checkbox" name="coaching_give" /></label>
              </p>
              <p>
                <h4><a href="/benefits/health">Health</a></h4>
              </p>
              <p>
                <label for="health_telemedicine">I or my family will use CanadaDev's telemedicine services (online doctor, mental health navigator, and/or best doctors) <input id="health_telemedicine" type="checkbox" name="health_telemedicine" /></label>
              </p>
              <p>
                <label for="health_insurance">I would buy group insurance products associated with CanadaDev (life, disability, and etc.) <input id="health_insurance" type="checkbox" name="health_insurance" /></label>
              </p>
              <p>
                <h4><a href="/benefits/banking">Banking</a></h4>
              </p>
              <p>
                <label for="banking">I will get CanadaDev's Coast Capital personal and/or business banking package(s) <input id="banking" type="checkbox" name="banking" /></label>
              </p>
              <p>
                <h4><a href="/benefits/discounts">Discounts</a></h4>
              </p>
              <p>
                <label for="discounts_perks">I or my family will use CanadaDev's MemberPerks (travel and merchant discounts) <input id="discounts_perks" type="checkbox" name="discounts_perks" /></label>
              </p>
              <p>
                <label for="discounts_legal">I will use CanadaDev's Business Legal Services (Benchmark Law) Discount of 10% <input id="discounts_legal" type="checkbox" name="discounts_legal" /></label>
              </p>
              <p>
                <h4><a href="https://canadadev.memberful.com/checkout?plan=42786">Membership</a></h4>
              </p>
              <p>
                <label for="membership_learner">I would like to be a learner member of CanadaDev for $19.99 per month (in CAD and includes sales tax) <input id="membership_learner" type="checkbox" name="membership_learner" /></label>
              </p>
              <p>
                <label for="membership_coach">I would like to be a coach member of CanadaDev for $39.99 per month (in CAD and includes sales tax) <input id="membership_coach" type="checkbox" name="membership_coach" /></label>
              </p>
            </div>
            <p>
              <button class="btn btn-primary" type="submit">Submit</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /privacy -->" | safeHTML }}

{{ end }}