{{ define "main" }}

  {{ "<!-- privacy -->" | safeHTML }}
  <section class="section">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-12">
          <h3 class="mb-4">CanadaDev Launch Survey</h3>
          <p>CanadaDev has been working to arrange benefit partnerships with multiple providers to enable the creation of the professional association for Canadian software engineers.</p>
          <p>This is the launch survey to poll our meetup members to see what services they will use in order to inform these partners and launch the association.</p>
          <form name="survey" method="POST" data-netlify="true">
            <div class="form-group">
              <div>
                <h4>Info</h4>
              </div>
              <div>
              <label for="name">Your name: <input type="text" class="form-control" id="name" placeholder="enter your name" required /></label>
              </div>
              <div>
              <label for="email">Your Email: <input type="email" class="form-control" id="email" name="email" placeholder="me@canadadev.com" required /></label>
              </div>
                <label for="city">Your City: <input type="text" class="form-control" id="city" placeholder="Vancouver" name="city" required /></label>
              </div>
              <div>
                <label for="province">Your Province: <input type="text" id="province" class="form-control" placeholder="BC" name="province" required /></label>
              <div>
                <label for="linkedin">Your LinkedIn URL: <input type="text" id="linkedin" class="form-control" name="LinkedIn" placeholder="https://linkedin.com/in/bevanhunt" /></label>
              </div>
              <div>
                <h4><a href="/meetup">Meetup</a></h4>
              </div>
              <div>
                <label for="meetup_attend">I will attend a local CanadaDev meetup <input id="meetup_attend" type="checkbox" class="form-control" name="meetup_attend" /></label>
              </div>
              <div>
                <label for="meetup_speaker">I would like to speak at a local CanadaDev meetup</a> <input id="meetup_speaker" type="checkbox" class="form-control" name="meetup_speaker" /></label>
              </div>
              <div>
                <label for="meetup_leader">I would like to be a local CanadaDev meetup chapter leader <input id="meetup_leader" type="checkbox" class="form-control" name="meetup_leader" /></label>
              </div>
              <div>
                <h4><a href="/benefits/coaching">Coaching</a></h4>
              </div>
              <div>
                <label for="coaching_get">I will get coaching <input id="coaching_get" type="checkbox" class="form-control" name="coaching_get" /></label>
              </div>
              <div>
                <label for="coaching_give">I would like to be a coach <input id="coaching_give" type="checkbox" class="form-control" name="coaching_give" /></label>
              </div>
              <div>
                <h4><a href="/benefits/health">Health</a></h4>
              </div>
              <div>
                <label for="health_telemedicine">I or my family will use CanadaDev's telemedicine services <input id="health_telemedicine" type="checkbox" class="form-control" name="health_telemedicine" /></label>
              </div>
              <div>
                <label for="health_insurance">I would buy group insurance products associated with CanadaDev <input id="health_insurance" type="checkbox" class="form-control" name="health_insurance" /></label>
              </div>
              <div>
                <h4><a href="/benefits/banking">Banking</a></h4>
              </div>
              <div>
                <label for="banking">I will get CanadaDev's Coast Capital banking package(s) <input id="banking" type="checkbox" class="form-control" name="banking" /></label>
              </div>
              <div>
                <h4><a href="/benefits/discounts">Discounts</a></h4>
              </div>
              <div>
                <label for="discounts_perks">I or my family will use CanadaDev's MemberPerks (travel and merchant discounts) <input id="discounts_perks" type="checkbox" class="form-control" name="discounts_perks" /></label>
              </div>
              <div>
                <label for="discounts_legal">I will use CanadaDev's Business Legal Services (Benchmark Law) Discount of 10% <input id="discounts_legal" type="checkbox" class="form-control" name="discounts_legal" /></label>
              </div>
              <div>
                <h4><a href="https://canadadev.memberful.com/checkout?plan=42786">Membership</a></h4>
              </div>
              <div>
                <label for="membership_learner">I would like to be a learner member of CanadaDev for $19.99 per month in CAD and includes sales tax <input id="membership_learner" type="checkbox" class="form-control" name="membership_learner" /></label>
              </div>
              <div>
                <label for="membership_coach">I would like to be a coach member of CanadaDev for $39.99 per month in CAD and includes sales tax <input id="membership_coach" type="checkbox" class="form-control" name="membership_coach" /></label>
              </div>
            </div>
            <p>
              <button class="btn btn-primary" type="submit">Submit</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
  {{ "<!-- /privacy -->" | safeHTML }}

{{ end }}